<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
        <link rel="stylesheet" href="../static/css/main_page.css">
        <link rel="stylesheet" href="../static/css/error-panel.css">
    </head>
    <body>

        <form action="/upload_applicants" method="POST" enctype="multipart/form-data">
            <br>
            <label for="job_title">Job title :</label>
            <br>
            <input name="job_title" id="job_title_id" required>
            
            <br>
            <label for="job_description">Job description :</label>
            <br>
            <textarea name="job_description" id="job_description_id" required></textarea>
            
            <br>
            <label for="resumes">Resume(s) :</label>
            <br>
            <input type="file" name="resumes[]" id="resumes_id" accept=".pdf" multiple required>
            
            <br>
            <input type="submit">
        </form>
        <!-- <a href="/">Login</a> -->
        <script src="../static/javascript/Find_applicants.js"></script>
    </body>
</html>