<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ResumeOnly - Portfolio</title>

        <link rel="icon" type="image/x-icon" href="../static/img/portfolio/portfolio.ico">

        <link rel="stylesheet" href="../static/css/nav_bar.css">
        <link rel="stylesheet" href="../static/css/portfolio.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/portfolio/header-site.css">
        <link rel="stylesheet" href="../static/css/portfolio/contact_panel.css">
        <link rel="stylesheet" href="../static/css/portfolio/about_panel.css">
        <link rel="stylesheet" href="../static/css/portfolio/project_panel.css">
        <link rel="stylesheet" href="../static/css/portfolio/experience_panel.css">
        <link rel="stylesheet" href="../static/css/portfolio/skills_panel.css">
        <link rel="stylesheet" href="../static/css/portfolio/footer.css">
        <link rel="stylesheet" href="../static/css/portfolio/other.css">
        <link rel="stylesheet" href="../static/css/error-panel.css">
        
        <!-- Rubik font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        {{ portfolio | safe }}

        <!-- <div id="user-info" data-user_id="{{ user_id }}" data-application_id="{{ application_id }}"></div> -->

        <!-- <script src="../static/javascript/portfolio.js"></script> -->
        <script src="../static/javascript/portfolio/header.js"></script>
        <script src="../static/javascript/portfolio/welcome.js"></script>
        <script src="../static/javascript/portfolio/contact_panel.js"></script>
        <script src="../static/javascript/portfolio/projects_panel.js"></script>
        <script src="../static/javascript/portfolio/other.js"></script>
    </body>
</html>


